@import '../../styles/share';

$button-disabled: rgba($black, .7);

.product-cart-item {
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;

  &__container {
    align-items: center;
    border: 1px solid $black;
    display: flex;
    position: relative;
  }

  .button {
    background-color: $black;
    border: 0;
    color: $white;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    &:disabled {
      background-color: $button-disabled;
    }
  }

  .image__container {
    background-color: $athens-gray;
    text-align: center;
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input,
  select {
    width: 100%;
  }
}
