@import '../../styles/share';

$button-hover: rgba($black, .7);

.product-cart-item {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 0 2rem;

  &__container {
    align-items: center;
    border: 1px solid $black;
    display: flex;
    position: relative;
  }

  .button {
    border: 0;
    color: $black;
    font-size: 26px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;

    &:hover {
      color: $button-hover;
    }
  }

  .image__container {
    background-color: $athens-gray;
    flex-basis: 35%;
    text-align: center;
    width: 35%;
  }

  .text__container {
    max-width: calc(100% - 36px);
    padding: 1rem;
    padding-right: calc(36px + 1rem);
  }

  h3 {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  input,
  select {
    width: 100%;
  }

  label {
    display: block;
    margin: 1rem 0;
  }
}
