@import '../../styles/share';

$button-disabled: rgba($black, .7);

.product-item {
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;

  @include from(mobile-medium) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @include from(tablet-medium) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  @include from(desktop-xl) {
    flex-basis: 25%;
    max-width: 25%;
  }

  &__container {
    background-color: $athens-gray;
    padding: 1rem .5rem;
    position: relative;
  }

  .button {
    background-color: $black;
    border: 0;
    color: $white;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    &:disabled {
      background-color: $button-disabled;
    }
  }

  .image__container {
    margin-bottom: 1rem;
    text-align: center;
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input,
  select {
    width: 100%;
  }
}
