@import './styles/share';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  word-break: break-word;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  @include from(tablet-medium) {
    margin: 0 auto;
    max-width: 75%;
  }
}

h1,
h4 {
  padding: 0 1rem;

  @include from(tablet-medium) {
    padding: 0;
  }
}

.image {
  max-width: 100%;
}
