@import './styles/share';

*,
::after,
::before {
  box-sizing: border-box;
}

:disabled {
  cursor: not-allowed;
}

body {
  font-family: $primary-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  word-break: break-word;
}

button,
select {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 16px;
}

h1,
h4 {
  padding: 0 1rem;

  @include from(tablet-medium) {
    padding: 0;
  }
}

.image {
  max-width: 100%;
}

.no-margin {
  margin: 0;
}

